 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are folowing your post "<%= @post.title %>", you will be notified of all comments in regards to it.</h1>
     <p>
       <%= link_to "View post on site", topic_post_url(@post.topic, @post)%>
     </p>
   </body>
 </html>